<%= @group.name %>
<p>Owner: <%= @owner.name %></p>
<p>Members:</p>
<ul>
  <% @other_members.each do |member| %>
    <li><%= member.name %></li>
  <% end %>
</ul>
<% if @owner == current_user %>
  <%= link_to('Add another user to this group', edit_group_path(@group)) %></p>
  <%= link_to('Delete this group', group_path(@group), data: { confirm: "Are you sure?" }, method: :delete )%>
<% end %>
<br/>
<hr/>
<p><strong>TODO:</strong> Need to be able to remove a member</p>
<p><strong>TODO:</strong> Need to be able to remove yourself from a group</p>