<p>Number of matches played by this group: <%= @matches.count %></p>
<%= link_to('Add a match', new_group_match_path(@group)) %>

<table>
  <thead>
    <th>Fixture</th>
    <th>Matches</th>
    <th>Goals For</th>
    <th>Goals Against</th>
    <th>Wins For</th>
    <th>Draws</th>
    <th>Wins Against</th>
    <th>Big Wins For</th>
    <th>Big Wins Against</th>
    <th>Bore Draws</th>
  </thead>
  <tbody>
  <% @fixtures.each do |fixture| %>
    <tr>
      <td><%= fixture.display %></td>
      <td><%= fixture.matches_count %></td>
      <td><%= fixture.player_one_goals %></td>
      <td><%= fixture.player_two_goals %></td>
      <td><%= fixture.player_one_wins %></td>
      <td><%= fixture.draws %></td>
      <td><%= fixture.player_two_wins %></td>
      <td><%= fixture.player_one_big_wins %></td>
      <td><%= fixture.player_two_big_wins %></td>
      <td><%= fixture.bore_draws %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br/>
<hr/>
<p>My Stats:</p>
<p>Matches Played: <%= @group_user.total_matches %></p>
<p>Goals Scored: <%= @group_user.