<p>Number of matches played by this group: <%= @matches.count %></p>
<%= link_to('Add a match', new_group_match_path(@group)) %>

<table>
  <thead>
    <th>Pairing</th>
    <th>Matches</th>
    <th>Goals For</th>
    <th>Goals Against</th>
    <th>Wins For</th>
    <th>Draws</th>
    <th>Wins Against</th>
    <th>Big Wins For</th>
    <th>Big Wins Against</th>
    <th>Bore Draws</th>
  </thead>
  <tbody>
  <% @pairings.each do |pairing| %>
    <tr>
      <td><%= pairing.display %></td>
      <td><%= pairing.matches_count %></td>
      <td><%= pairing.player_one_goals %></td>
      <td><%= pairing.player_two_goals %></td>
      <td><%= pairing.player_one_wins %></td>
      <td><%= pairing.draws %></td>
      <td><%= pairing.player_two_wins %></td>
      <td><%= pairing.player_one_big_wins %></td>
      <td><%= pairing.player_two_big_wins %></td>
      <td><%= pairing.bore_draws %></td>
    </tr>
  <% end %>
  </tbody>
</table>