<!DOCTYPE html>
<html>
<head>
  <title>WhoWonWhat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if current_user %>
  <nav>
    <%= link_to('Dashboard', dashboard_path) %>
    <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
    <hr/>
  </nav>

<% end %>
<%= yield %>

</body>
</html>
